name: PR

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  check-title:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR Title Prefix
        id: title-check
        uses: actions/github-script@v7
        with:
          script: |
            const title = context.payload.pull_request.title;
            const titleRegex = /^(feat|fix|break|chore)\([^)]+\): .+$/;
            const titleIsValid = titleRegex.test(title);
            if (!titleIsValid) { 
              console.log(`Invalid PR title format. Expected: <prefix(feat/fix/break/chore)>(<domain>): <title>`);
              process.exit(1); 
            }
